<!-- FLASH : error in case the user doesn't fill the form correctly -->
<% if flash[:danger] %>
<div class='alert alert-danger' role='alert'>
  <%= flash[:danger] %>
  <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
    <span class="close-button" aria-hidden='true'>&times</span>
  </button>
</div>
<% end %>
<div class="ml-4 mt-5">
  <h1> Login to the Gossip Project </h1>
  <div class="form-group">
    <%= form_tag url_for(action: 'create'), method: "post" do %>

    <%= label_tag 'Email' %><br>
    <%= text_field_tag 'email'%>
    <br/> <br/>
    <%= label_tag 'Password' %><br>
    <%= password_field_tag 'password'%>
    <br/> <br/>

    <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span>
    <% end %>

    <%= submit_tag 'Validate' %>
    <% end %>
  </div>
</div>
