<div class="m-4">

<h1>Here is more details about the gossip n°<%= params[:id] %></h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">The author : <em> <%= link_to "#{@my_gossip.user.first_name} #{@my_gossip.user.last_name}", author_path(@my_author)%>  </em></li>
  <li class="list-group-item">Title :<em><%= @my_gossip.title %></em></li>
  <li class="list-group-item">Content : <em><%= @my_gossip.content %></em></li>
  <li class="list-group-item">Created in : <em><%= link_to "#{@my_city.name}", city_path(@my_city.id) %> <%= @my_gossip.created_at %></em></li>

</ul>
<br>
<br>
<p>Wow... <%= @my_author.first_name %> is such a lil' bitch ! <br>
<% if @my_author == current_user %>
<a href=" <%=edit_gossip_path(@my_gossip.id)%> " class="btn btn-outline-secondary btn-sm">Edit</a>
<a href=" <%=gossip_path(@my_gossip.id)%> " class="btn btn-danger" data-confirm="Are you sure ?" data-method='DELETE'>Delete</a>
<% end %>
</div>
