<h1>Here is more details about the gossip n°<%= params[:id] %></h1>

The author : <em><%= @my_gossip.user.first_name %>  <%= @my_gossip.user.last_name%> </em><br>
Title :<em><%= @my_gossip.title %></em><br>
Content : <em><%= @my_gossip.content %></em><br>
Created in : <em><%= @my_city.name %> <%= @my_gossip.created_at %></em><br>
<p>Wow... <%= @my_author.first_name %> is such a lil' bitch ! <%= link_to "Check out", author_path(@my_author)%> his page to know more about him/her !</p>
