<div class="jumbotron" style="background-image: url(https://blog.oxforddictionaries.com/wp-content/uploads/gossip-pop-art-men-1200x330.jpg);">
  <h1 class="display-4 text-white font-weight-bold text-center">Welcome to the gossip world</h1>
</div>


<div class="container">
  <div class="row">
    <% @my_gossips.each do |gossip| %>
    <div class="col-sm-4 mb-4">
      <div class="list-group">
        <a href="<%=gossip_path(gossip.id)%>" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">N°<%=gossip.id%> by <%= gossip.user.first_name %></h5>
          </div>
          <p class="mb-1"><%= gossip.title %></p>
        </a>
        <a href="<%= edit_gossip_path(gossip.id) %>" class="btn btn-outline-secondary btn-sm">Edit</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
