<h1> <%= @my_city.name %> </h1>
<p>Here are all the gossips in <%= @my_city.name %> </p>
<div class="container">
  <div class="row">
    <% @my_city.gossips.each do |gossip| %>
    <div class="col-sm-4 mb-2">
      <div class="list-group">
        <a href="<%=gossip_path(gossip.id)%>" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">N°<%=gossip.id%> by <%= gossip.user.first_name %></h5>

          </div>
          <p class="mb-1"><%= gossip.title %></p>
        </a>
      </div>
    </div>
    <% end %>
  </div>
</div>
